{% if site.coderwall_user %}
<section>
  <h1>Coderwall Badges</h1>
  <ul id="cw_badges">
    <li class="loading">Loading badges...</li>
  </ul>
  <script>
    function display_coderwall(args) {
      var badges = args["data"]["badges"];
      var wall = '';
      for ( var i = 0; i < badges.length; i++ ) {
        wall += '<a href="http://coderwall.com/{{site.coderwall_user}}/"><img src="'+ badges[i]["badge"] + '" width="48" height="48" /></a>';
      }
      document.write(wall);
    }
    </script>
    <script src="http://coderwall.com/{{site.coderwall_user}}.json?callback=display_coderwall"></script></section>
{% endif %}
