{% if site.coderwall_user %}
<section>
  <h1>Coderwall Badges</h1>
  <script>
    function display_coderwall(args) {
      var badges = args["data"]["badges"];
      var wall = '';
      for ( var i = 0; i < badges.length; i++ ) {
        wall += '<a href="http://coderwall.com/kagekirin/"><img src="'+ badges[i]["badge"] + '" width="80" height="80" /></a>';
      }
      document.write(wall);
    }
    </script>
    <script src="http://coderwall.com/kagekirin.json?callback=display_coderwall"></script></section>
{% endif %}
